body {
    background-color: whitesmoke;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
}

#map {
    width: 100%;
    max-width: calc(100vh - 20px);
    height: auto;
    max-height: calc(100vh);
    padding-top: 10px;
    border-radius: 3px;
    z-index: 1;
}

#locations {
    padding: 10px 15px;
    width: 100%;
    max-width: calc(100vh + 10px);
    height: auto;
    max-height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

#legend-portrait {
    width: 100%;
    height: auto;
    position: relative;
    top: -35px;
}

.btn {
    width: 100%;
}